code {
    background: lightgray;
    border-radius: 0.25rem;
    padding: 0.2rem;
}

.code-block {
    display: block;
    white-space: pre-wrap;
}

.container {
    display: flex;
    height: 20rem;
}

form {
    width: 50%;
}

.code-output {
    list-style-type: none;
    padding: 0;
    padding: 1rem;
    background: black;
    color: white;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: scroll;
}

textarea {
    margin: 0;
    width: 99%;
    resize: none;
    padding: 0;
    height: 99%;
}

.cm-keywords {
    color: dodgerblue;
    font-weight: bold;
}

.cm-strings {
    color: green;
}

.cm-builtins {
    color: darkorchid;
    font-weight: bold;
}

.cm-numbers {
    color: steelblue;
    font-weight: bold;
}
