<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boomerang</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Language Guide</h1>

        <h2>Line Endings</h2>
        All expressions end with a semicolon (<code>;</code>).

        {% with title=data_types["title"], header=data_types["headers"], rows=data_types["rows"] %}
            {% include "guide_section.html" %}
        {% endwith %}

        {% with title=operators["title"], header=operators["headers"], rows=operators["rows"] %}
            {% include "guide_section.html" %}
        {% endwith %}

        <h2>Variable Assignment and Reassignment</h2>
        <code class="code-block">
    number = 10;
    float = 3.14;
        </code>

        <h2>Math Expressions</h2>
        <code class="code-block">
    1 + 1;
    1 + 2 + 3 + 4;
    5 - 3;
    6 * 4;
    10 / 2;
    3 + (10 - 9 - 8);
    -3;
    -(5 + 4 + 3 + 2 + 1);
    +6;
        </code>
    </body>
</html>
